.container {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}
.stars{
    display: flex;
    justify-content: space-between;
    font-size: 2.5rem;
}
.stars{
    cursor: pointer;
}
.blue{
    color: blue;
}
.red{
    color: red;
}